
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000000, #333333); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

td {
  text-align: center;
}   

.dash-content {
width: 80%;
background: rgba(51, 51, 51, 0.8); 
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
margin-bottom: 20px;
margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.info-table-content {
  color: #FFC107; 
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #444;
}

tr:nth-child(even) {
  background-color: #555; 
}

#myChart {
  width: 80%;
  height: 400px; 
  margin-top: 20px;
}
.status-agressivo {
  color: orange; 
}

.status-passifista {
  color: green;
}

.status-sábio {
  color: gold;
}

.status-morte {
  color: red; 
}

.info-table-content {
  color: gold; 
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
